*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height:100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main{
    width: 25%;
    height: 64%;
    background-color: white;
    border-radius: 10px;
}

.input{
    background-color: rgb(237, 9, 9);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.button{
    flex-direction: column;
    align-items: center;
}
.button input{
    text-align: center;
    text-decoration: none;
}
.input p{
    text-align: center;
}